@CHARSET "UTF-8";
h1{
	color:white;
	font-size:2em;
	f8ont:
}
h2{
	font-size:1.5em;
}
header{
	background-color:#009999;
	top: 10px;                   /* 位置(上0px) */
    left: 0px;                  /* 位置(右0px) */
    width: 100%;                /* 横幅100%　*/
    height: 90px;              /* 縦幅140px */
}

input[type=text]{
width:150px;
height:30px;
}

input[type=password]{
width:150px;
height:30px;
}

input[type=submit]{
width:160px;
height:2em;
}
