@CHARSET "UTF-8";

h1 {
	color: white;
	font-size: 2em;
	font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ,
		Osaka, 'MS PGothic', arial, helvetica, sans-serif;
	margin: 10px 10px 10px 10px;
}

h2 {
	font-size: 1.8em;
	font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ,
		Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}

header {
	background-color: #009999;
	top: 10px; /* 位置(上0px) */
	left: 0px; /* 位置(右0px) */
	width: 100%; /* 横幅100%　*/
	height: 90px; /* 縦幅140px */
}

.form-wrapping {
	background: #e0ffff;
	margin: 3em auto;
	padding: 0 1em;
	max-width: 600px;
}

input[type=text] {
	width: 400px;
	height: 60px;
	font-size: 1.2em
}

input{
	font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ,
		Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}

input[type=password] {
	width: 400px;
	height: 60px;
	font-size: 1.2em
}

input#submit_button {
	width: 300px;
	height: 30px;
}

.square_btn {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 4px #67c5ff;
    border-radius: 3px;
    transition: .4s;"WebContent/Header.css"
    background: white;
}

.square_btn:hover {
    background: #67c5ff;
    color: white;
}

.mb1 {
	margin-bottom: 3em;
}

p.a {
	font-family: "fantasy";
}

.button {
	background: #11BFAF;
	border: none;
	color: #fff;
	cursor: pointer;
	height: 50px;
	font-family: 'Open Sans', Microsoft Sans Serif;
	font-size: 1.2em;
	letter-spacing: 0.05em;
	text-align: center;
	text-transform: uppercase;
	transition: background 0.3s ease-in-out;
}

.hako {
	background: #e6e6fa;
}