<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 version="3.0"
 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<description>ICW sample WebApp</description>
	<display-name>ICW</display-name>
	<servlet>
		<servlet-name>SearchBook</servlet-name>
		<servlet-class>com.ibm.jp.icw.servlet.SearchBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchBook</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>